<div class="main-container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenido a HeroesApp</h1>
        <p class="lead">Registra tus Heroes Favoritos</p>
        <hr class="my-4">

        <div class="col-md-6 ">
            <img src="./assets/img/home-page.png" width="500" alt="HeroAPP">
            <div class="h-30"></div>
        </div>

        <p class="lead">
            <a class="btn btn-primary btn-lg center" [routerLink]="['/heroe', 'nuevo']" role="button"> Registrar Heroes</a>
        </p>
    </div>
</div>