<div class="card-columns">
    <!--     //items de fotos.component-->
    <div class="card" *ngFor="let item of items | async">
        <img class="card-img-top" [src]="item.url">
        <div class="card-body">
            <h5 class="card-title">{{ item.nombre }}</h5>

        </div>
    </div>


</div>
<div *ngIf="(items | async ).length ===0 && !loading" class="alert alert-info" role="alert">
    <strong>No hay</strong> registros que mostrar.
</div>
<hr>
<button [routerLink]="['/heroes']" class="espacio btn btn-outline-danger">
    Lista de Héroes
</button>