<h1>Heroes</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/heroe', 'nuevo']" class="btn btn-outline-primary" type="button">
      Nuevo Héroe
    </button>
    </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th>Biografia</th>
                        <th class="text-right">Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ heroes[k].nombre }}</td>
                        <td>{{ heroes[k].casa }}</td>
                        <td>{{ heroes[k].bio }}</td>
                        <td class="text-right w120 ">
                            <!-- k es la llave -->
                            <button [routerLink]="['/heroe', k]" type="button" class=" espacio btn btn-outline-success"> Editar </button>
                            <button (click)="borraHeroe(k)" type="button" class="espacio btn btn-outline-danger"> Eliminar </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(heroes | keys).length ===0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay</strong> registros que mostrar.
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando...</strong>por favor espere.
            </div>
        </div>

        <hr>

        <!-- **************************Carga de imagenes**************************** -->
        <div class="row">
            <!-- Carga de imagenes -->
            <div class="col-md-4">
                <h3>Seleccione Archivos</h3>

                <div appNgDropDFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento }" class="well drop-zone">

                    <h5>Deje aqui sus archivos</h5>
                    <img src="assets/img/drop-images.png" width="100px">
                </div>

            </div>

            <div class="col-md-8">

                <h4> Cargar Archivos </h4>

                <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="espacio btn btn-success"> Cargar a Firebase </button>
                <button (click)="limpiarArchivos()" class="espacio btn btn-danger"> Limpiar </button>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th> Nombre Archivo </th>
                            <th> Tamaño </th>
                            <th> Progreso </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let archivo of archivos">
                            <td [ngClass]="{ 'text-green': archivo.progreso >=100 }">
                                {{ archivo. nombreArchivo }}
                            </td>
                            <td>
                                <!--//objeto y probiedad-->
                                {{ archivo.archivo.size / 1024 /1024 | number: '.2-2' }} MB
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <button [routerLink]="['/fotos']" class="espacio btn btn-outline-danger">
            Ver fotos
        </button>
    </div>
</div>